<div class="main info">
	<form action="/form" method="post" accept-charset+"utf-8,ISO-2022-JP">
	<h3>New Job : <input type="text" name="slug"/></h3>
	<h3>Status : 
		<select name="status">
			<option value="available">available</option>
			<option value="pending">pending</option>
			<option value="reviewable">reviewable</option>
			<option value="revising">revising</option>
			<option value="approved">approved</option>
			<option value="cancelled">cancelled</option>
		</select>
	</h3>
	<h3>
		From 
		  <select name="lc_src">
			<option value="en">English</option>
		  </select>
		 to 
		<select name="lc_tgt">
			<option value="ja">Japanese</option>
			<option value="es">Spanish</option>
			<option value="it">Italiano</option>
			<option value="pt">Portuguese (Europe)</option>
		</select>
	</h3>
	<h3>Text to translate</h3>
	<textarea name="body_src" id="body_src" onfocus="this.value=''; setbg('#e5fff3');" 			
			  onblur="setbg('white')"/></textarea>
	</br></br>
	<input type="submit" value="Create a job!" class="createJob"/>
	</form>
</div>