<!DOCTYPE html>
<html lang="en">
<head>
<title>Custom Gengo app!</title>
<link rel="stylesheet" type="text/css" href="/css/style.css" />
<meta charset="utf-8" />
</head>
<body>

<%= yield %>

</body>
</html>
