<!DOCTYPE html>
<html lang="en">
<head>
<title>Custom Gengo app!</title>
<link rel="stylesheet" type="text/css" href="/css/style.css" />
<meta charset="utf-8" />
</head>
<body>
	<div class="main">
		<h1>Gengo example:</h1>
		<h2>Username:</h2> Slamice
		<a href="/">[view]</a>
		<a href="/edit">[add job]</a>
	</div>
<%= yield %>

</body>
</html>
